
@{
    ViewBag.Title = "MyView";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <h2>MyView</h2>
    <p>@ViewBag.Message</p>
</body>
</html>
